{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <img src="{{ asset('Images/HomePic.jpg') }}" alt="" id="homePic">

    <a href="#Tricks_Block">
        <img src="{{ asset('Images/ancre.png') }}" alt="" id="anchor">
    </a>

    <div id="Tricks_Block" class="row">
        {% for trick in tricks %}
            <div class="col-lg-3">
                <div class="row trickHome">
                    <div class="col-lg-12">
                        <img src="{{ trick.defaultImage }}" alt="" class="col-lg-12">
                    </div>
                    <div class="col-lg-6">
                        <a href="{{ path('show_one_trick', {'slug': trick.slug}) }}"><p
                                    class="col-lg-6">{{ trick.name }}</p></a>
                    </div>
                    {% if (app.user) %}
                        <div class="col-lg-3">
                            <a href="{{ path('update_trick', {'slug': trick.slug}) }}" class="col-lg-3"><img
                                        src="{{ asset('Images/pencil.png') }}" alt=""></a>
                        </div>
                        <div class="col-lg-3">
                            <a href="{{ path('deleteTrick', {'id': trick.id}) }}" class="col-lg-3"><img
                                        src="{{ asset('Images/Trash.png') }}" alt=""></a>
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

    <br><br>

    <div class="row">
        <div class="col-lg-12 text-center d-flex justify-content-center">
            <button class="load_more btn btn-primary" data-url="{{ path('load_more_tricks') }}" data-next-page="2">Load More Tricks</button>
        </div>
    </div>

    <br><br>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('JS/loadMore.js') }}"></script>
{% endblock %}
