{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}

    <div class="col-lg-6 offset-lg-3 text-center">

        <div class="info">
            <h1>Créez votre compte</h1>
            <p>Ici vous pourrez créer un compte sur SnowTricks.</p>
            <p>Il vous permettra de créer, modifier ou supprimer les figures.</p>
        </div>

        {{ form_start(userForm) }}

        {{ form_label(userForm.username, ' ') }}

        {{ form_widget(userForm.username, {'attr': {'placeholder': 'Votre Pseudo'}}) }}

        {{ form_label(userForm.mail, ' ') }}

        {{ form_widget(userForm.mail, {'attr': {'placeholder': 'Votre Email'}}) }}

        {{ form_label(userForm.password, ' ') }}

        {{ form_widget(userForm.password) }}

{#        {{ form_widget(userForm.controlPass, {'attr': {'placeholder': 'Retapez votre mot de passe'}}) }}#}

        <br>

        <input type="submit" class="btn btn-primary" value="Créer votre compte">

        {{ form_end(userForm) }}
    </div>

{% endblock %}
