{% extends 'base.html.twig' %}

{% block title %}Hello NewTrickController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6 offset-lg-3">
                {{ form_start(trickForm) }}

                {{ form_row(trickForm) }}

                {{ form_end(trickForm) }}

                <div class="col-lg-2 offset-lg-5">
                    <button class="btn btn-primary" type="submit">Créer la trick</button>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6 offset-lg-3">

                {{ form_start(addImage) }}

                {{ form_row(addImage) }}

                {{ form_end(addImage) }}

            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6 offset-lg-3">

                {{ form_start(addVideo) }}

                {{ form_row(addVideo) }}

                {{ form_end(addVideo) }}

            </div>
        </div>
    </div>

{% endblock %}
