{% extends 'base.html.twig' %}

{% block title %}Hello NewTrickController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6 offset-lg-3">

                <br>
                {{ form_start(trickForm) }}

                <br>

                {{ form_widget(trickForm.name, {'attr': {'placeholder': 'Le nom de la trick'}}) }}

                <br>

                {{ form_widget(trickForm.description, {'attr': {'placeholder': 'La description de la trick'}}) }}

                <br>

                {{ form_widget(trickForm.category) }}

                <br>

                <div class="tags" data-prototype="{{ form_widget(trickForm.images.vars.prototype)|e('html_attr') }}">
                    ...
                </div>

                <div class="col-lg-2 offset-lg-5">
                    <button class="btn btn-primary" type="submit">Créer la trick</button>
                </div>

                {{ form_end(trickForm) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/initiateCollection.js') }}"></script>
{% endblock %}
