{% extends 'base.html.twig' %}

{% block title %}Hello NewTrickController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center">

            <div class="info">
                <br>
                <h1>Création d'une Nouvelle Trick</h1>
            </div>

            <br>
            {{ form_start(trickForm) }}

            <br>

            {{ form_widget(trickForm.name, {'attr': {'placeholder': 'Le nom de la trick'}}) }}

            <br>

            {{ form_widget(trickForm.description, {'attr': {'placeholder': 'La description de la trick'}}) }}

            <br>

            {{ form_widget(trickForm.category) }}

            <br>

            {{ form_widget(trickForm.images,{'attr':{'class':'tags'}}) }}
            <br>


            <div class="col-lg-3 offset-lg-5">
                <button class="btn btn-primary" type="submit">Créer la trick</button>
            </div>

            {{ form_end(trickForm) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/initiateCollection.js') }}"></script>
{% endblock %}
