{% extends 'base.html.twig' %}

{% block title %}Mise à jour de la trick{% endblock %}

{% block body %}

    <div class="row">
        <div class="offset-lg-3 col-lg-6 text-center">

            <div class="info">
                <h1>Mise à jour des éléments de la Trick</h1>
                <p>Ici vous pouvez mettre à jour le nom, la description ou la catégorie de la Figure.</p>
            </div>

            {{ form_start(trickForm) }}

            <div class="info" style="margin-top: 25px">
            {{ form_label(trickForm.name, 'Le nom de la tricks') }}
            </div>

            {{ form_widget(trickForm.name) }}

            <div class="info" style="margin-top: 25px">
            {{ form_label(trickForm.description, 'La description de la tricks') }}
            </div>

            {{ form_widget(trickForm.description) }}

            <div class="info" style="margin-top: 25px">
            {{ form_label(trickForm.category, 'La catégorie de la tricks') }}
            </div>

            {{ form_widget(trickForm.category) }}

            <input type="submit" class="btn btn-primary" value="Mettre à jour">

            {{ form_end(trickForm) }}
        </div>
    </div>

{% endblock %}
