{% extends 'base.html.twig' %}

        {% block title %} {{ trick.name }} {% endblock %}

        {% block body %}


            <div class="row">

                {% for image in trick.images %}

                    {% if loop.first %}
                        <div class="position-relative col-12">
                            <img src="{{ asset('uploads/' ~ trick.images.first.url) }}" alt="" id="mainPic">
                            <p class="position-absolute" style="bottom: 50%; left: 40%;"
                               id="oneTrickName">{{ trick.name }}</p>
                            {% if (app.user) %}
                                <div id="userUpdateDeleteBlock">
                                    <a href="{{ path('image_update', {'id': trick.images.first.id}) }}"><img
                                                src="{{ asset('Images/pencil.png') }}"
                                                alt=""></a>
                                    <a href="{{ path('deleteTrick', {'id': trick.id}) }}"><img
                                                src="{{ asset('Images/Trash.png') }}" alt=""></a>
                                </div>
                            {% endif %}

                            <div class="info text-center">
                                <h1 class="col-12">Mise à jour de la Trick</h1>
                            </div>
                        </div>


                    {% endif %}

                    <div class="col-lg-3 position-relative">
                        <img src="{{ asset('uploads/' ~ image.url) }}" alt="" class="col-lg-12"
                             id="OneTrickPics">
                        <div id="userUpdateDeleteBlock">
                            <a href="{{ path('image_update', {'id': image.id}) }}">
                                <img src="{{ asset('Images/pencil.png') }}" alt="">
                            </a>
                            <a href="{{ path('image_remove', {'id': image.id}) }}">
                                <img src="{{ asset('Images/Trash.png') }}" alt="">
                            </a>
                        </div>
                    </div>

                {% else %}
                    <div class="position-relative col-12">
                        <img src="{{ asset('Images/HomePic.jpg') }}" alt="" id="mainPic">
                        <p class="position-absolute" style="bottom: 50%; left: 40%;"
                           id="oneTrickName">{{ trick.name }}</p>
                        <div id="userUpdateDeleteBlock">

                        </div>
                    </div>
                {% endfor %}

                {% for video in trick.videos %}

                    <div class="col-lg-3">
                        <iframe src="{{ video.url }}" frameborder="0" id="OneTrickVids" class="col-lg-12"></iframe>
                        <div id="userUpdateDeleteBlock">
                            <a href="{{ path('video_update', {'id': video.id}) }}"><img
                                        src="{{ asset('Images/pencil.png') }}" alt=""></a>
                            <a href="{{ path('video_remove', {'id': video.id}) }}"><img
                                        src="{{ asset('Images/Trash.png') }}" alt=""></a>
                        </div>
                    </div>
                {% endfor %}


            </div>

            <div class="row">
                <div class="offset-lg-3 col-lg-2">
                    <a href="{{ path('trick_element_update', {'id': trick.id}) }}">
                        <button class=" btn btn-primary">Mettre à jour</button>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="{{ path('add_image_to_trick', {'id': trick.id}) }}">
                        <button class=" btn btn-primary">Ajouter une image</button>
                    </a>

                </div>
                <div class="col-lg-2">
                    <a href="{{ path('add_video_to_trick', {'id': trick.id}) }}">
                        <button class=" btn btn-primary">Ajouter une Vidéo</button>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <div class="info">
                        <br>
                        <p>{{ trick.description }}</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 row align-items-center">
                    <div class="col-lg-4 text-center">
                        <p class="infoTrick">Créé le {{ trick.createdAt | date('d/m/Y') }}</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p class="infoTrick">Catégorie : {{ trick.category.title }}</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p class="infoTrick">Mis à jour le {{ trick.updatedAt | date('d/m/Y') }}</p>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>


        {% endblock %}
