{% extends 'base.html.twig' %}

        {% block title %} {{ trick.trickname }} {% endblock %}

        {% block body %}


            <div class="row">
                {% for image in trick.images %}

                    {% if loop.first %}
                        <div class="position-relative col-12">
                            <img src="{{ trick.images.first.url }}" alt="" id="mainPic">
                            <p class="position-absolute" style="bottom: 50%; left: 40%;"
                               id="oneTrickName">{{ trick.trickname }}</p>
                            <div id="userUpdateDeleteBlock">
                                <a href="{{ path('update_trick', {'id': trick.id}) }}"><img
                                            src="{{ asset('Images/pencil.png') }}"
                                            alt=""></a>
                                <a href="{{ path('deleteTrick', {'id': trick.id}) }}"><img
                                            src="{{ asset('Images/Trash.png') }}"
                                            alt=""></a>
                            </div>
                        </div>
                    {% else %}

                        <div class="col-lg-2">
                            <img src="{{ image.url }}" alt="" class="col-lg-12" id="OneTrickPics">
                            <div class="row">
                                <div id="userUpdateDeleteBlock">
                                    <a href="#"><img src="{{ asset('Images/pencil.png') }}" alt=""></a>
                                    <a href="{{ path('image_remove', {'id': image.id}) }}"><img
                                                src="{{ asset('Images/Trash.png') }}" alt=""></a>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                {% else %}
                    <div class="position-relative col-12">
                        <img src="{{ asset('Images/HomePic.jpg') }}" alt="" id="mainPic">
                        <p class="position-absolute" style="bottom: 50%; left: 40%;"
                           id="oneTrickName">{{ trick.trickname }}</p>
                        <div id="userUpdateDeleteBlock">

                        </div>
                    </div>
                {% endfor %}

                {% for video in trick.videos %}

                    <div class="col-lg-2">
                        {{ video.url|raw }}
                        <div class="row">
                            <div id="userUpdateDeleteBlock">
                                <a href="#"><img src="{{ asset('Images/pencil.png') }}" alt=""></a>
                                <a href="{{ path('video_remove', {'id': video.id}) }}"><img
                                            src="{{ asset('Images/Trash.png') }}" alt=""></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            </div>

            <div class="row">
                <div class="col-lg-2 offset-lg-4">
                    <a href="{{ path('add_image_to_trick', {'id': trick.id}) }}">
                        <button class=" btn btn-primary">Ajouter une image</button>
                    </a>

                </div>
                <div class="col-lg-2">
                    <a href="{{ path('add_video_to_trick', {'id': trick.id}) }}">
                        <button class=" btn btn-primary">Ajouter une Vidéo</button>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 text-center">
                    <p>{{ trick.description }}</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 row">
                    <div class="col-lg-4 text-center">
                        <p id="infoTrick">Créé le {{ trick.createdAt | date('d/m/Y') }}</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p id="infoTrick">Catégorie : {{ trick.category.title }}</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <p id="infoTrick">Mis à jour le {{ trick.updatedAt | date('d/m/Y') }}</p>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>


        {% endblock %}
